<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2F444ft_PatUEpq1AaFblpNuPUJpokZk</string>
	<key>GCM_SENDER_ID</key>
	<string>607892512934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>come.familytrip.familytrip</string>
	<key>PROJECT_ID</key>
	<string>familytrip-6a128</string>
	<key>STORAGE_BUCKET</key>
	<string>familytrip-6a128.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607892512934:ios:c0340e56c7d503f0f59467</string>
</dict>
</plist>